@import 'tailwindcss';

@theme static {
  --color-primary: #31304d;
  --color-secondary: #e74c4e;
}

.cl-internal-l2l775 {
  display: none !important;
}

.cl-internal-1dauvpw {
  display: none !important;
}
